<div class="new-content-block col-12 mx-auto">

  <div class="title d-flex flex-row-reverse justify-content-center me-0">
    <h4 class="text-center ">請輸入你的支出</h4>
    <span class="ms-0 me-4 notes">
      <span class="text-danger p-0">*</span>
      必填欄位
    </span>
  </div>

  <form action="/records" method="post" class="col-6 mx-auto mt-4">
    <div class="mb-3 row mb-4">
      <label for="name" class="col-4 col-form-label text-end px-0">
        <span class=" text-danger">*</span>
        名稱：
      </label>
      <div class="col-8">
        <input type="text" class="form-control" id="name" name="name" maxlength="10" placeholder="字數最多為10個" required>
      </div>
    </div>

    <div class="mb-3 row mb-4">
      <label for="date" class="col-4 col-form-label text-end px-0">
        <span class=" text-danger">*</span>
        日期：
      </label>
      <div class="col-8">
        <input type="date" class="form-control" id="date" name="date" required>
      </div>
    </div>

    <div class="mb-3 row mb-4">
      <label for="category" class="col-4 col-form-label text-end px-0">
        <span class="text-danger">*</span>
        類別：
      </label>
      <div class="col-8">
        <select class="form-select" aria-label="Default select example" name="categoryId" required>
          <option value="" selected>請選擇類別</option>
          {{#each categories}}
          <option value="{{ this._id }}">{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="mb-3 row mb-4">
      <label for="amount" class="col-4 col-form-label text-end px-0">
        <span class="text-danger">*</span>
        金額：
      </label>
      <div class="col-8">
        <input type="number" class="form-control" id="amount" name="amount" min="0" max="1000000" placeholder="最高上限為一百萬"
          required>
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-warning me-2">新增支出</button>
      <a href="/" class="btn btn-primary">返回首頁</a>
    </div>
  </form>

</div>